/*==========================================
            STYLE RESET
==========================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*==========================================
            STYLE PRINCIPAL
==========================================*/
body {
    font-family: "Cookie", cursive;
    background-image: url("../img/Captura de tela 2026-08-01 212613.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f3fcfd;
    line-height: 1.6;
    padding: 100px;
    font-size: 20px;
    font-weight: 400;
}


/*==========================================
            WRAPPER
==========================================*/
.wrapper {
    background-color: transparent;
    max-width: 1200px;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
}



/*==========================================
            TEXTO PRINCIPAL
==========================================*/
.container_texto_principal {
    text-align: center;
    margin-bottom: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    transform: translateY(-20px);
}


/*==========================================
            CONTAINER PRINCIPAL
==========================================*/
.container_principal {
    width: 40%;
    height: 450px;
    background-color: rgb(14, 37, 87);
    border-radius: 40px;
    margin: 0 auto;
    margin-bottom: 200px;

}

.logo_login{
    width: 200px;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: px;
    left: 50%;
    transform: translateX(-50%);
}


/*==========================================
            FORMULÁRIO DE LOGIN
==========================================*/

/* Formulário de login */
.formulario_login {
    width: 100%;
    padding: 130px 20px 20px;
    position: relative;
}


/* Logo do formulário */
.logo_login {

    width: 300px;

    height: auto;

    object-fit: contain;

    position: absolute;

    top: 120px;

    left: 50%;

    transform: translateX(-50%);
}

/*==========================================
            CONTAINER DOS INPUTS
==========================================*/

.container_input {
    margin-bottom: 5px;
}


/*==========================================
            LABEL DOS INPUTS
==========================================*/

.container_input label {
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
}


/*==========================================
            INPUT COM ÍCONE
==========================================*/

.input_com_icone {
    display: flex;
    height: 45px;
    align-items: center;
    background: rgb(6, 11, 20);
    border-radius: 30px;

}


/*==========================================
            INPUT
==========================================*/

.input_com_icone input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 20px;
    background: rgb(6, 11, 20);
    color: #ffffff;
    padding-left: 20px;
}


/* Placeholder */

.input_com_icone input::placeholder {

    font-family: "Cookie", cursive;
    color: rgba(82, 77, 77, 0.8);
    padding-left: 5px;
}


/*==========================================
            ÍCONES
==========================================*/

.input_com_icone i {
    font-size: 15px;
    color: #638ba1;
    padding: 20px;
}


/*==========================================
            OPÇÕES DE LOGIN
==========================================*/

.opcoes_login {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: 5px 0 20px;
}


/*==========================================
            LEMBRAR-ME
==========================================*/

.lembrar {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin-left: 20px;
}


/*==========================================
            ESQUECI MINHA SENHA
==========================================*/

.opcoes_login a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-right: 20px;
}

.opcoes_login a:hover {
    color: #79d2ff;
    text-decoration: none;
}


/* ==========================
   BOTÃO DE LOGIN
========================== */

button {

    /* Centraliza o botão */
    margin: 0px auto;


    /* Tamanho */
    width: 75px;
    height: 75px;

    /* Espaçamento interno */
    padding: 0;

    /* Borda */
    border: none;
    border-radius: 50%;

    /* Fundo */
    background: linear-gradient(135deg,
            #00c6ff 0%,
            #0072ff 50%,
            #0047b3 100%);

    /* Cor da seta */
    color: #062047;

    /* Cursor */
    cursor: pointer;

    /* Centraliza o ícone */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Animação */
    transition: all .3s ease;
}

/* Ícone */
button i {
    font-size: 50px;
}

/* Mouse em cima */
button:hover {
    background-color: #0a2855;
    transform: scale(1.08);
}

/* Enquanto clica */
button:active {
    transform: scale(.95);
}

/* Quando recebe foco */
button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(13, 110, 253, .5);
}

/* Desabilitado */
button:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
    opacity: .7;
}


/*==========================================
            TEXTO DE CADASTRO
==========================================*/

.formulario_login {
    display: flex;
    flex-direction: column;
}

.btn-login {
    margin: 5px auto 0;
}

.container-texto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.texto_login {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: "Cookie", cursive;
    color: white;
}

.texto_login a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.texto_login a:hover {
    color: #79d2ff;
}